@model MecProj.Models.Empresa

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Cliente <b>@Model.Razao_Social</b></h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Razao_Social)*@Razão Social
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Razao_Social)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cnpj)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cnpj)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Telefone_Celular)*@Telefone Celular
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefone_Celular)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Telefone_Recado)*@Telefone Recado
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefone_Recado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rua)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rua)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Numero)*@Número
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Complemento)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a class="btn btn-info" asp-action="Index">Voltar a lista</a>
</div>
