@model MecProj.Models.OrdemServico



@{
    ViewData["Title"] = "Create";
}


<header>
    <style>
        #formulario {
            margin-right: 50%;
            margin-top: 2%;
            width: 800px;
        }
    </style>
</header>
<h1>Emitor Ordem Serviço</h1>

<hr />


<div id="formulario">





    <form class="form-group" asp-action="Create">



        <div asp-validation-summary="ModelOnly" class="text-danger"></div>




        <div class="form-row">



            <div class="form-group col-md-8">
                    <label asp-for="Cliente" class="control-label"></label>
                    <select asp-for="Cliente" class="form-group">
                        @foreach (var cli in MecProj.Controllers.OrdemServicosController.GetClientes())
                        {
                            <option value="@cli.Nome">@cli.Nome</option>
                        }
                    </select>
                    <span asp-validation-for="Cliente" class="text-danger"></span>
                </div>



            @*<div class="form-group col-md-8">
                <label class="control-label">@Html.DropDownList("list", ViewData["list"] as SelectList)</label>
                <select id="list" name="list" class="form-control  basic">
                    <option value="" selected>Selecionar</option>
                    <option value="@Html.DisplayNameFor(model => model.Cliente.Select(x=>x.Nome))">@Html.DisplayNameFor(model => model.Cliente.Select(x=>x.Nome))</option>
                </select>
                <span asp-validation-for="Cliente" class="text-danger"></span>
            </div>*@








            <div class="form-group col-md-8">
                <label asp-for="Service" class="control-label"></label>
                <input asp-for="Service" class="form-control" />
                <span asp-validation-for="Service" class="text-danger"></span>
            </div>
            <div class="form-group col-md-8">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group col-md-8">
                <label asp-for="Pecas" class="control-label"></label>
                <input asp-for="Pecas" class="form-control" />
                <span asp-validation-for="Pecas" class="text-danger"></span>
            </div>
            <div class="form-group col-md-8">
                <label asp-for="Entrada" class="control-label"></label>
                <input asp-for="Entrada" class="form-control" />
                <span asp-validation-for="Entrada" class="text-danger"></span>
            </div>
            <div class="form-group col-md-8">
                <label asp-for="Situacao" class="control-label"></label>
                <select asp-for="Situacao" class="form-control">
                    <option value="pendente" selected>Pendente</option>
                    <option value="concluido">Concluído</option>
                </select>
                <span asp-validation-for="Situacao" class="text-danger"></span>
            </div>

        </div>
        <div class="form-group">
            <input type="submit" value="Emitir" class="btn btn-primary" /> ||
            <a class="btn btn-info" asp-action="Index">Voltar a lista</a>
        </div>
    </form>
</div>



