@model IEnumerable<MecProj.Models.OrdemServico>

@{
    ViewData["Title"] = "Index";
}
<header>
    <style>
        #tabela {
            margin-right: 10%;
        }

        #consulta {
            padding: 10px;
        }

        #tabela td {
            text-align: center;
        }

        #tabela th {
            text-align: center;
        }

        #nav {
            padding: 7px;
        }
    </style>
</header>


<script>
    function myFunction() {
        var input, filter, table, tr, td, cell, i, j;
        input = document.getElementById("txt_consulta");
        filter = input.value.toUpperCase();
        table = document.getElementById("tabela");
        tr = table.getElementsByTagName("tr");

        for (i = 1; i < tr.length; i++) {
            tr[i].style.display = "none";
            td = tr[i].getElementsByTagName("td");

            for (var j = 0; j < td.length; j++) {
                cell = tr[i].getElementsByTagName("td")[j];
                if (cell) {
                    if (cell.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        break;
                    }
                }
            }
        }
    }
</script>


<div id="nav">
    <form class="form-inline">
        <a asp-action="Create" class="btn btn-dark">Emitir Nova OS</a>
        <div id="consulta" class="form-inline">
            <input type="text" class="w-100 form-control product-search br-30 mr-sm-2 modal-title" name="consulta" id="txt_consulta" placeholder="Consultar" onkeyup="myFunction()">
        </div>
    </form>
</div>
<hr />
<h1>Emitir Ordem</h1>
<hr />


<table class="table table-hover table-dark mb-4" id="tabela">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Entrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Situacao)
            </th>
            <th>AÇÃO</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Service)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Entrada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Situacao)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"> <i class="far fa-edit"></i> Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id"> <i class="fas fa-search"></i> Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"> <i class="far fa-trash-alt"></i> Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
